@import url("https://fonts.googleapis.com/css2?family=Piazzolla:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: cornflowerblue;
  font-family: "Piazzolla", serif;
}
main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  text-align: center;
}
.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-content h1,
h4 {
  display: block;
  color: cornsilk;
  padding: 1rem;
  text-align: center;
}
#paragraph {
  font-size: 1.6rem;
  padding: 1.4rem;
  color: aliceblue;
}
#paragraph p {
  display: block;
  text-align: center;
}
#guess {
  width: 120px;
  height: 50px;
  font-weight: 500;
  border: none;
  background-color: rgb(173, 164, 189);
  cursor: pointer;
}
#guess:hover {
  background-color: rgb(95, 95, 131);
  color: aliceblue;
}
